= simple_form_for(@project) do |f|
  .form-inputs
    - error = @project.errors.any? ? 'error' : ''
    = f.input :location, :label => false, :class=> error
    = f.input :name, :label => false, placeholder: 'Give your list a name', :class=> error
    = f.input :description, :label => false, placeholder: 'Add some detail to your list (if required)', :class=> error
    -#= f.input :tag_list, :label => false, :url => autocomplete_tag_name_projects_path, :as => :autocomplete, placeholder: "Add tag/s separated by ','"
    = f.input :tag_list, :label => false

  .form-actions
    -button_text =  @project.new_record? ? "Create list" : "Update list"
    = f.button :submit, button_text ,:class=>"success button", :style => "float:right;"
