#strapper{:data=>{:"stellar-background-ratio"=>"0.6", :image=>'/assets/barcelona.jpg'}}
  -unless params[:id].blank?
    .row
      .large-12.columns
        %ul.wee-nav-list
          %li
            =participates_in_list?
          %li
            - if signed_in? && !current_user_project_owner?
              =link_to "#" do
                %span{:class=>"big-icons", :data=>{:icon=>"+"}}
          %li
            =link_to "#" do
              %span{:class=>"big-icons", :data=>{:icon=>"3"}}
    .row
      .large-12.columns
        %h1.project-home-headers.text-shadow=best_in_place_if current_user_project_owner?, @project, :name
    .row
      .large-12.columns
        %h3.project-home-headers.text-shadow
          created by:
          =link_to @project.user.name, user_path(@project.user)
    .row
      .large-12.columns
        %h2.project-home-headers.text-shadow="#{@project.try(:location) ? @project.location.city : ''}"
    .row
      .large-12.columns
        %h3.project-home-headers.text-shadow="#{@project.tag_list}"
    .row
      .large-12.columns.todo-description
        =best_in_place_if current_user_project_owner?, @project, :description

.row
  .large-12.columns.index-column-element

.row
  .large-12.columns
    -if signed_in? && current_user_project_owner?
      -if !params[:id].blank?
        = simple_form_for([@project, @todo])  do |f|
          .form-inputs
            = f.input :description, :as=> :string,  :label => false, placeholder: 'Describe your to-do'
            = f.input :project_id, :as=> :hidden, :value => @project.id
          .form-actions
            = f.button :submit, :class=>"success button round", :value=>"Create New To-do", :style =>"float:right;"

- if !@open.nil?
  .row{:style=>"margin-top:10px;"}
    .large-12.columns
      %h2.project-home-headers To-do!
  .row
    .large-12.columns
      .opened-container
        - @open.each do |todo|
          .row.todo-element.opened
            .small-8.large-10.columns.index-column-element.cen
              %p
                = best_in_place_if current_user_project_owner?, todo, :description
            -if can? :create, todo.completes.build
              .small-2.large-1.columns.index-column-element.cen.toggle
                %p
                  = link_to complete_todo_path(todo), :method=> :post, :remote => true, :data=>{:status=>"close", :todo=>todo.id} do
                    %span{:data => {:icon => '@'}}
            -else
              .large-2.columns.index-column-element
            -if can? :destroy, todo
              .small-2.large-1.columns.index-column-element.cen
                %p
                  =link_to todo, :method => :delete, :data => { :confirm => 'Are you sure?' } do
                    %span{:data => {:icon => '('}}
            -else
              .large-2.columns.index-column-element



-if !@closed.nil?
  .row{:style=>"margin-top:20px;"}
    .large-12.columns
      %h2.project-home-headers Done!
  .row
    .large-12.columns
      .closed-container
        - @closed.each do |todo|
          .row.todo-element.closed
            .small-8.large-10.columns.index-column-element.cen
              %p
                = best_in_place_if current_user_project_owner?, todo, :description
            -if can? :destroy, todo.completes.build
              .small-2.large-1.columns.index-column-element.cen.toggle
                %p
                  =link_to uncomplete_todo_path(todo), :method=> :delete, :remote => true, :data=>{:status=>"open", :todo=>todo.id} do
                    %span{:data => {:icon => '%'}}
            -else
              .large-2.columns.index-column-element
            -if can? :destroy, todo
              .small-2.large-1.columns.index-column-element.cen
                %p
                  =link_to todo, :method => :delete, :data => { :confirm => 'Are you sure?' } do
                    %span{:data => {:icon => '('}}
            -else
              .large-2.columns.index-column-element
%br

.row
  .large-12.columns
