= simple_form_for(@todo) do |f|
  = f.error_notification

  .form-inputs
    .large-8.columns
      = f.input :description
    .large-4.columns
      = f.input :status
  .row
    .large-12.columns
      .form-actions
        = f.button :submit
