alert("test");
var html = "<div class='opened'> <div class='large-8 columns'>" +
           "<a href='/todos/<%=@todo.id%>'><%=@todo.description%></a></div>" +
           "<div class='large-1 columns'><%=@todo.project.name%></div>"+
           "<div class='large-1 columns toggle'>"+
           "<a href='/todos/<%=@todo.id%>/toggle' data-method='put' data-remote='true' rel='nofollow'>close</a></div>"+
           "<div class='large-1 columns'><a href='/lists/<%=@todo.project_id%>/todos/<%=@todo.id%>/edit'>Edit</a></div><div class='large-1 columns'>"+
           "<a href='/todos/<%=@todo.id%>' data-confirm='Are you sure?' data-method='delete' rel='nofollow'>Destroy</a></div></div>";

$('.opened-container').prepend(html);
