-unless params[:project_id].blank?
  .row
    .large-12.columns
      %h1=Project.find(params[:project_id]).name
  .row
    .large-12.columns
      =Project.find(params[:project_id]).description

.row
  .large-12.columns
    -if can? :create, Todo
      -if !params[:project_id].blank?
        -#=link_to "new todo" , new_project_todo_path(:project_id => params[:project_id])
        = simple_form_for(@todo, :input_html => {"data-remote" => true, "data-type" => :json}) do |f|
          = f.error_notification
          = f.input :project_id, :as => :hidden, :input_html => { :value => params[:project_id] }
          %h1
            = f.input :description, :label => false, placeholder: 'Describe your to-do'
          = f.input :status, :as => :hidden, :input_html =>{:value => false}
          = f.button :submit, :class=>"button", :value=>"Create New To-do", :style =>"float:right;"


- if !@open.nil?
  .row
    .large-12.columns
      %h2 Open

  .row.opened-container
    - @open.each do |todo|
      .opened
        .large-8.columns= link_to todo.description, todo
        .large-1.columns= !todo.project.nil? ? todo.project.name : "none"
        -if can? :update, Todo
          .large-1.columns.toggle= link_to("close", todo_toggle_path(todo), :method=> :put, :remote => true)
          .large-1.columns= link_to 'Edit', params[:project_id].blank? ? edit_todo_path(todo) : edit_project_todo_path(params[:project_id], todo)
          .large-1.columns= link_to 'Destroy', todo, :method => :delete, :data => { :confirm => 'Are you sure?' }
        -else
          .large-2.columns

-if !@closed.nil?
  .row
    .large-12.columns
      %h2 Closed
  .row.closed-container
    - @closed.each do |todo|
      .closed
        .large-8.columns= link_to todo.description, todo
        .large-1.columns= !todo.project.nil? ? todo.project.name : "none"
        -if can? :update, Todo
          .large-1.columns.toggle= link_to("open", todo_toggle_path(todo), :method=> :put, :remote => true)
          .large-1.columns= link_to 'Edit', params[:project_id].blank? ? edit_todo_path(todo) : edit_project_todo_path(params[:project_id], todo)
          .large-1.columns= link_to 'Destroy', todo, :method => :delete, :data => { :confirm => 'Are you sure?' }
        -else
          .large-2.columns
%br

.row
  .large-12.columns
