-unless params[:project_id].blank?
  .row
    .large-12.columns
      %h1=Project.find(params[:project_id]).name
  .row
    .large-12.columns
      =Project.find(params[:project_id]).description

.row
  .large-12.columns.index-column-element

.row
  .large-12.columns
    -if can? :create, Todo
      -if !params[:project_id].blank?
        = simple_form_for([:project, @todo])  do |f|
          .form-inputs
            = f.input :description, :class=>"prick", :label => false, placeholder: 'Describe your to-do'
          .form-actions
            = f.button :submit, :class=>"button prick", :value=>"Create New To-do", :style =>"float:right;"


- if !@open.nil?
  .row
    .large-12.columns
      %h2 Open

  .row.opened-container
    - @open.each do |todo|
      .opened
        .large-8.columns.index-column-element= link_to todo.description, todo
        .large-1.columns.index-column-element= !todo.project.nil? ? todo.project.name : "none"
        -if can? :update, Todo
          .large-1.columns.index-column-element.toggle= link_to("close", todo_toggle_path(todo), :method=> :put, :remote => true)
          .large-1.columns.index-column-element= link_to 'edit', params[:project_id].blank? ? edit_todo_path(todo) : edit_project_todo_path(params[:project_id], todo)
          .large-1.columns.index-column-element= link_to 'destroy', todo, :method => :delete, :data => { :confirm => 'Are you sure?' }
        -else
          .large-2.columns.index-column-element

-if !@closed.nil?
  .row
    .large-12.columns
      %h2 Closed
  .row.closed-container
    - @closed.each do |todo|
      .closed
        .large-8.columns.index-column-element= link_to todo.description, todo
        .large-1.columns.index-column-element= !todo.project.nil? ? todo.project.name : "none"
        -if can? :update, Todo
          .large-1.columns.index-column-element.toggle= link_to("open", todo_toggle_path(todo), :method=> :put, :remote => true)
          .large-1.columns.index-column-element= link_to 'edit', params[:project_id].blank? ? edit_todo_path(todo) : edit_project_todo_path(params[:project_id], todo)
          .large-1.columns.index-column-element= link_to 'destroy', todo, :method => :delete, :data => { :confirm => 'Are you sure?' }
        -else
          .large-2.columns.index-column-element
%br

.row
  .large-12.columns
