-unless params[:project_id].blank?
  .row
    .large-12.columns
      %h1=Project.find(params[:project_id]).name
  .row
    .large-12.columns.todo-description
      =Project.find(params[:project_id]).description

.row
  .large-12.columns.index-column-element

.row
  .large-12.columns
    -if current_user == @project.user
      -if !params[:project_id].blank?
        = simple_form_for([@project, @todo])  do |f|
          .form-inputs
            = f.input :description, :as=> :string,  :label => false, placeholder: 'Describe your to-do'
            = f.input :project_id, :as=> :hidden, :value => @todo.project_id
          .form-actions
            = f.button :submit, :class=>"success button round", :value=>"Create New To-do", :style =>"float:right;"

- if !@open.nil?
  .row{:style=>"margin-top:10px;"}
    .large-12.columns
      %h2 To-do!
  .row
    .large-12.columns
      .opened-container
        - @open.each do |todo|
          .row.todo-element.opened
            .large-9.columns.index-column-element= todo.description
            -if can? :update, todo
              .large-1.columns.index-column-element.toggle= link_to "close", toggle_todo_path(todo), :method=> :put, :remote => true
              .large-1.columns.index-column-element= link_to 'edit', params[:project_id].blank? ? edit_todo_path(todo) : edit_project_todo_path(params[:project_id], todo), :class=>"tiny radius button"
              .large-1.columns.index-column-element= link_to 'delete', todo, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class=>"alert tiny round button"
            -else
              .large-2.columns.index-column-element

-if !@closed.nil?
  .row{:style=>"margin-top:20px;"}
    .large-12.columns
      %h2 Done!
  .row
    .large-12.columns
      .closed-container
        - @closed.each do |todo|
          .row.todo-element.closed
            .large-9.columns.index-column-element= todo.description
            -if can? :update, todo
              .large-1.columns.index-column-element.toggle= link_to "open", toggle_todo_path(todo), :method=> :put, :remote => true
              .large-1.columns.index-column-element= link_to 'edit', params[:project_id].blank? ? edit_todo_path(todo) : edit_project_todo_path(params[:project_id], todo), :class=>"tiny radius button"
              .large-1.columns.index-column-element= link_to 'delete', todo, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class=>"alert tiny round button"
            -else
              .large-2.columns.index-column-element
%br

.row
  .large-12.columns
