/ Header and Nav
%nav.top-bar
  %ul.title-area
    / Title Area
    %li.name
      %h1.pacifico
        = link_to "listista", root_path
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    / Left Nav Section
    %ul.left
      %li.divider
      %li{:class => cp(cities_path)}
        =link_to 'stuff', projects_path
      %li.divider
      %li.has-form
        =form_tag projects_path, :method => :get, :id=>"search_form" do
          .row.collapse
            .small-8.columns
              =text_field_tag :search, params[:search], :style=>"margin-top:5px;", :type=>"text", :id=>"border-radius", :placeholder=>"search cities/events!"
            .small-4.columns.pacifico
              %a{:onclick=>"document.getElementById('search_form').submit();"} GO!

    -#  %li.has-dropdown
    -#    %a{:href => "#"} Main Item 3
    -#    %ul.dropdown
    -#      %li
    -#        %a{:href => "#"} Dropdown Option
    -#      %li
    -#        %a{:href => "#"} Dropdown Option
    -#      %li
    -#        %a{:href => "#"} Dropdown Option
    -#      %li.divider
    -#      %li
    -#        %a{:href => "#"} See all →
    / Right Nav Section
    %ul.right
      - unless user_signed_in?
        %li{:class => cp(new_user_session_path)}
          = link_to 'Login', new_user_session_path
        %li.divider
      - if user_signed_in?
        - if can? :create, Project
          %li{:class => cp(new_user_project_path(current_user))}
            = link_to new_user_project_path(current_user) do
              %span{:data => {:icon => 'N'}}
        %li
          %li
            =link_to !current_user.picture.nil? ? image_tag(current_user.picture.cover_image.thumb("25x25#").url): "#", user_path(current_user)
          %li.has-dropdown
            = link_to current_user.name, user_path(current_user)
            %ul.dropdown
              %li{:class => cp(joined_user_projects_path(current_user))}
                =link_to "Joined lists", joined_user_projects_path(current_user)
              %li{:class => cp(edit_user_registration_path)}
                = link_to 'Edit account', edit_user_registration_path(current_user)
              %li
                = link_to 'Logout', destroy_user_session_path, :method=>'delete'
                - if current_user.has_role? :admin
                  %li
                    = link_to 'Admin', "/admin"
      - else
        -#%li{:class => cp(new_user_registration_path)}
        -#  = link_to 'Sign up', new_user_registration_path




